@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');


:root {
  --primary-clr: hsl(0, 100%, 68%);

  --neutral-clr-one: hsl(230, 29%, 20%);
  --neutral-clr-two: hsl(230, 11%, 40%);
  --neutral-clr-three: hsl(231, 7%, 65%);
  --neutral-clr-four: hsl(207, 33%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'Barlow', sans-serif;
  position: relative;
  font-size: 100%;
}

img {
  max-width: 100%;
  display: block;
}

span {
  display: inline-block;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
}

/* typograph */

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1.5em;
  color: var(--neutral-clr-two);
  line-height: 1.5;
  font-weight: 400;
}

.text {
  padding: 0.5em 0.8em;
  background: #222;
  color: #fff;
  border-radius: 25px;
  font-weight: 700;
  font-size: 0.8rem;
  margin-right: 0.7em;
}

.hero__text {
  letter-spacing: 0.3em;
  color: var(--neutral-clr-three);
}

.main__title {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

.main__text {
  width: 310px;
  font-size: 1.1rem;
}




/* layout */

#bg {
  width: 50%;
  height: 420px;
  position: absolute;
  right: 0;
  z-index: -2;
  background: var(--neutral-clr-four);
  border-radius: 0 0 0 50px;
}

header,
.main__left {
  padding: 1.5em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1.5em;
}

.navbar,
.main,
.navbar ul {
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  top: 90px;
  left: -250%;
  right: 0;
  width: calc(100% - 3.5em);
  margin: 0 auto;
  background: #fff;
  padding: 1.5em;
  text-align: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: 250ms ease-in-out;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1.5em;
  border-bottom: 1px solid var(--neutral-clr-three);
}

.navbar li {
  margin-bottom: 1.2em;
}

.navbar a {
  color: #222;
  text-decoration: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar a:hover {
  text-decoration: underline;
}

.main {
  flex-direction: column-reverse;
}

.main .main__right {
  margin-bottom: 2.8em;
}

.main .main__left {
  padding-top: 3em;
}

/* components */

.btn {
  all: unset;
  text-transform: uppercase;
  color: var(--neutral-clr-three);
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  text-decoration: underline;
}

.hamburger-toggle {
  width: 50px;
  padding: 1em 0.6em;
}

.hamburger {
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 100%;
  height: 2px;
  display: block;
  background: black;
  border-radius: 15px;
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
}

.hamburger::before {
  bottom: 6px;
}

.hamburger::after {
  top: 6px;
}

/* creating the hamburger cross when checked */

#chk:checked ~ label .hamburger {
  transform: rotate(45deg);
}

#chk:checked ~ label .hamburger::before {
  transform: rotate(-90deg) translateX(-6px);
}

#chk:checked ~ label .hamburger::after {
  opacity: -2;
}

#chk:checked ~ .navbar {
  left: 0;
}

#chk {
  display: none;
  z-index: -999;
}

.btn-accent,
.btn-neutral {
  font-size: 1rem;
  margin-bottom: 3em;
  text-decoration: none !important;
}

.btn-accent {
  margin-right: 0.8em;
  padding: 0.6em 1.4em;
  background: var(--primary-clr);
  color: #fff;
  border-radius: 5px;
}

.btn-neutral {
  font-weight: 200;
  word-spacing: 0.3em;
}

@media screen and (min-width: 400px) {
  #bg {
    height: 450px;
  }
}

@media screen and (min-width: 900px) {
  

  .container {
    height: 90vh;
    overflow: hidden;
  }

  #bg {
    width: 47%;
    height: 46vh;
  }

  header,
  .main__left {
    padding: 3em 9em;
  }

  header {
    margin-bottom: 2.3em;
  }

  .main {
    flex-direction: row;
    position: relative;
  }

  /* .main__right {
    right: 0;
  } */

  .main__title {
    font-size: 4.5rem;
    width: 700px;
  }

  .main__text {
    font-size: 1.2rem;
    width: 320px;
    margin-bottom: 3em;
  }

  .navbar,
  .navbar ul {
    flex-direction: row;
  }

  .navbar {
    position: static;
    width: 350px;
    margin: 0;
    box-shadow: none;
    padding: 0;
    background: inherit;
  }

  .navbar ul {
    border: none;
    margin-bottom: 0;
  }

  .navbar li {
    margin-bottom: 0;
    margin-right: 2.2em;
  }


  .main__img {
    width: 785px;
    height: 558px;
    right: 0;
    position: absolute;
    animation: right 3s ease-in-out;
  }


  .btn-left {
    margin-left: 2em;
  }

  .hamburger-toggle {
    display: none;
  }

  .btn-accent,
  .btn-neutral {
    font-size: 1.2rem;
    transition: opacity 250ms;
  }

  .btn-accent:hover {
    opacity: 0.7;
  }

  .btn-left {
    position: relative;
  }

  .btn-left::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: #cbcedc;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-40px,10px);
  }



  @keyframes right {
   0% {
     transform: translateX(150%);
   }  
   100% {
     transform: translate(0);
   }
  }
}
